*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../../image/summer-forest-wallpaper-3840x2160-lush-outdoor-scenery-calming-nature-582.jpg);
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 5px 15px;
    border: 1px solid black;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
}

header h1{
    position: relative;
    text-align: center;
    width: 100%;
}

header p {
    width: 100%;
    text-align: center;
}

.py1, .py2 {
    display: flex;
    gap: 0 15px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.py1 {
    position: relative;
    color: yellowgreen;
}

.py2 {
    position: relative;
    margin-left: auto;
    color: red;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    border: 1px solid black;
    background-image: url(../../image/360_F_1004861945_9mZipnrVL5RrRp8HrndR5gupeZvudi40.jpg);
    background-size: contain;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.jgdP1, .jgdP2 {
    display: none;
}

.jgdP1 {
    color: greenyellow;
    -webkit-text-stroke: 5px rgb(54, 85, 9);
}

.jgdP2 {
    color: red;
    -webkit-text-stroke: 5px rgb(124, 7, 7);
}
